build/
*.apk
*.ipa

pubspec.lock

*.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages

.vscode/

android/.gradle/
android/app/debug.keystore
android/local.properties
ios/Pods/
ios/.DS_Store

.env

*.log
.cache/
